<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
</head>
<body>
<h1>Lista de Usuarios</h1>
<a href="/usuarios/nuevo">Nuevo Usuario</a>
<a href="/dashboard">Volver</a>

<table border="1">
    <thead>
    <tr><th>ID</th><th>Usuario</th><th>Email</th><th>Rol</th><th>Estado</th><th>Acciones</th></tr>
    </thead>
    <tbody>
    <tr th:each="u : ${usuarios}">
        <td th:text="${u.codigoUsuario}"></td>
        <td th:text="${u.username}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.rol}"></td>
        <td th:text="${u.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
        <td>
            <a th:href="@{/usuarios/editar/{id}(id=${u.codigoUsuario})}">Editar</a>
            <a th:href="@{/usuarios/eliminar/{id}(id=${u.codigoUsuario})}" onclick="return confirm('¿Eliminar?')">Eliminar</a>
        </td>
    </tr>
    <tr th:if="${usuarios.isEmpty()}">
        <td colspan="6">No hay usuarios registrados</td>
    <tr>
    </tbody>
</table>
</body>
</html>